.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.guess-chart {
  padding-top: 10px;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.guess {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.guessed-letter {
  border: 1px solid grey;
  width: 80px;
  height: 80px;
  color: white;
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center
}

.guessed-letter.in-progress {
  background-color: #000000;
}

.guessed-letter.not-in-word {
  background-color: #222222;
}

.guessed-letter.in-word-right-place {
  background-color: #008800;
}

.guessed-letter.in-word-wrong-place {
  background-color: #CCCC00;
}

.keyboard {
  width: fit-content;
  margin: auto;
}

.keyrow {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.keyrow.offset {
  padding-left: 21px;
}

.key {
  background: #999999;
  margin-left: 2px;
  margin-bottom: 2px;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key.not-in-word {
  background-color: #222222;
}

.key.in-word-right-place {
  background-color: #008800;
}

.key.in-word-wrong-place {
  background-color: #CCCC00;
}
